*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Jura', sans-serif;
}

p {
    font-family: 'Montserrat' sans-serif;
}
/*-----------------Colours*?
/* CSS HEX *
--burnished-brown: #997370ff;
--nadeshiko-pink: #ffafccff;
--uranian-blue: #bde0feff;

/* SCSS HEX *
$burnished-brown: #997370ff;
$nadeshiko-pink: #ffafccff;
$uranian-blue: #bde0feff;

/* SCSS RGB *
$burnished-brown: rgba(153, 115, 112, 1);
$nadeshiko-pink: rgba(255, 175, 204, 1);
$uranian-blue: rgba(189, 224, 254, 1);

/* SCSS Gradient *
$gradient-top: linear-gradient(0deg, #997370ff, #ffafccff, #bde0feff);
$gradient-right: linear-gradient(90deg, #997370ff, #ffafccff, #bde0feff);
$gradient-bottom: linear-gradient(180deg, #997370ff, #ffafccff, #bde0feff);
$gradient-left: linear-gradient(270deg, #997370ff, #ffafccff, #bde0feff);
$gradient-top-right: linear-gradient(45deg, #997370ff, #ffafccff, #bde0feff);
$gradient-bottom-right: linear-gradient(135deg, #997370ff, #ffafccff, #bde0feff);
$gradient-top-left: linear-gradient(225deg, #997370ff, #ffafccff, #bde0feff);
$gradient-bottom-left: linear-gradient(315deg, #997370ff, #ffafccff, #bde0feff);
$gradient-radial: radial-gradient(#997370ff, #ffafccff, #bde0feff);

---GeekForGeeks.org gradient shadow----
.lgShadow {
            background: rgb(74, 201, 0);
            padding: 1rem;
            top: 100px;
            position: relative;
            height: 100px;
            width: 200px;
        }
        /* pseudo-class for making gradient shadow. 
          
        .lgShadow::after {
            content: "";
            position: absolute;
            inset: -.625em;
            background: linear-gradient(to bottom right,
                rgb(255, 175, 204, 1), rgb(189, 224, 254, 1),rgba(153, 115, 112, 1));
            filter: blur(2.5em);
            z-index: -1;
        }
